---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PrefectureCard from "@/components/PrefectureCard.astro";

type Prefecture = {
  prefCode: number;
  prefName: string;
};

// RESAS APIから都道府県データを取得する関数
async function fetchPrefectures(): Promise<Prefecture[]> {
  const response = await fetch(
    "https://opendata.resas-portal.go.jp/api/v1/prefectures",
    {
      headers: { "X-API-KEY": import.meta.env.RESAS_API_KEY as string },
    }
  );

  if (!response.ok) {
    throw new Error(
      `Failed to fetch prefectures: ${response.status} ${response.statusText}`
    );
  }

  const data = await response.json();
  return data.result;
}

const prefectures: Prefecture[] = await fetchPrefectures();
---

<BaseLayout title="都道府県リスト">
  <h1 class:list={["text-6xl", "text-center", "font-bold"]}>都道府県リスト</h1>
  <ul class:list={["mt-40", "grid", "grid-cols-4", "gap-8"]}>
    {
      prefectures.map((prefecture) => (
        <PrefectureCard
          altText={prefecture.prefName}
          prefCode={prefecture.prefCode}
          prefName={prefecture.prefName}
          imagePath={`/src/assets/${prefecture.prefCode}.png`}
        />
      ))
    }
  </ul>
</BaseLayout>
