---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
  imagePath: string;
  altText: string;
  //  prefecture: object;
  prefCode: number;
  prefName: string;
}

const { imagePath, altText, prefCode, prefName } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<li class:list="">
  <a
    class:list={[
      "flex",
      "flex-col",
      "items-center",
      "border-2",
      "p-4",
      "gap-3",
      "rounded-xl",
      "hover:opacity-50",
      "transition",
      "duration-300",
    ]}
    href={`/prefectures/${prefCode}`}
  >
    <Image src={images[imagePath]()} alt={altText} />
    <p class:list={["text-3xl"]}>{prefName}</p>
  </a>
</li>
